
$colorWhite: #ffffff
$colorLight1: #eeebf9
$colorLight2: #d1ceda
$colorLight3: #aba8b2

$colorDark1: #616d90
$colorDark2: #4b546f
$colorDark3: #32384a
$colorLink: #616d90
$colorLinkHover: #3a363f

$bgColor1: #e8e8e8
$bgColor2: #ced8e2
